<%= render_partial 'partials/head' %>

<div class="album-app">
  <div class="album-filters">
    <h1>Top 100 Albums of All Time</h1>

    <form method="GET">
      <div class="input-group">
        <input
          class="input"
          name="highlighted_index"
          maxlength="3"
          type="text"
          value="<%= @highlighted_index == 0 ? '' : @highlighted_index %>">

        <button class="button" type="submit">Highlight</button>
      </div>
    </form>
  </div>
  
  <table class="album-list">
    <thead>
      <tr>
      <% @headers.each do |header| %>
        <th>
          <a 
            href="<%= sort_by_link(header[:sort_key]) %>"
            class="<%= @sorted_by == header[:sort_key] ? 'selected-header' : '' %>">
            <%= header[:name] %>
          </a>
        </th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr class="<%= @highlighted_index == album[:number].to_i ? 'highlighted-row' : '' %>">
          <td><%= album[:number] %></td>
          <td><%= album[:name] %></td>
          <td><%= album[:year] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render_partial 'partials/foot' %>
